# The directory where output files will go
OUTPUT_DIRECTORY="/Users/chutter/Dropbox/Research/0_Github/Flumina/test_dataset/Flumina_analysis"

# The directory where your raw reads are located
READ_DIRECTORY="/Users/chutter/Dropbox/Research/0_Github/Flumina/test_dataset/raw_reads"

# CSV with the file name that matches to both read pairs in the "File column" and sample name in the "Sample" column
RENAME_FILE="/Users/chutter/Dropbox/Research/0_Github/Flumina/example_file_rename.csv"

# The path to the reference file
REFERENCE_FILE="/Users/chutter/Dropbox/Research/0_Github/Flumina/reference.fa"

# Curated csv database with the columns "Gene", "Amino_Acid", and "Type" (category of site) of interest
AA_DB="/Users/chutter/Dropbox/Research/0_Github/Flumina/curated_database.csv"

# A metadata file with at least one column named "Sample" to join databases
METADATA="/Users/chutter/Dropbox/Research/0_Github/Flumina/example_metadata.csv"

# Group column name from metadata to summarize and group data i.e. cow versus birds versus poultry
GROUP_NAMES="discrete_host"

# FALSE to disable running IRMA
DISABLE_IRMA=TRUE

# Whether to overwrite or not
OVERWRITE=FALSE

# If a job is killed mid job, sometimes snakemake will lock directories
FORCE_UNLOCK=TRUE

# Number of threads to use, or max jobs for multi-job 
THREADS=6

#multi-job cluster mode, add in cluster job details. THREADS above becomes number of jobs. Set to FALSE to run without new jobs
#CLUSTER_JOBS="sbatch -p priority -D /Flumina_test/Flumina --mem 40G --cpus-per-task=2"
CLUSTER_JOBS=FALSE

#temporary file directory, default set to working directory
TEMPDIR="${OUTPUT_DIRECTORY}/temp_dir"
